body, html, #root {
  font-family: Arial, Roboto, "Times New Roman", "Courier New", Courier, Verdana, Georgia, serif;
  font-size: 12px;
  height: 100%;
}

body, #root {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("chris-abney-qLW70Aoo8BE-unsplash.jpg");
  background-attachment: fixed;
  /*background-clip: text;*/
  background-size: cover;
}

.bg-dark {
  background: #38744b !important;
}
a {
  color: white;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.rounded-pill, .rounded-pill input {
  border-radius: 1em !important;
  /*background: #4e555b;*/
}

.content-div {
  width: 85%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content-div nav > .nav.nav-tabs{

  border: none;
  color:#fff;
  /*background:#272e38;*/
  border-radius:0;

}
.content-div nav > div a.nav-item.nav-link,
.content-div nav > div a.nav-item.nav-link.active
{
  border: none;
  padding: 18px 25px;
  color: #000000;
  /*background:#272e38;*/
  border-radius:0;
}
.content-div nav > div a.nav-item.nav-link.active {
  background: #38744b;
}

.content-div nav > div a.nav-item.nav-link.active:after
{
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #38744b ;
}
.content-div .tab-content{
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:5px solid #38744b;
  border-bottom:5px solid #38744b;
  padding:30px 25px;
}

.content-div nav > div a.nav-item.nav-link:hover,
.content-div nav > div a.nav-item.nav-link:focus
{
  border: none;
  background: #38744b;
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
}

#nav-tabContent {
  padding-top: 0 !important;
  margin-top: 28px;
}

#nav-home {
  overflow: scroll;
  max-height: 52.5rem !important;
}

.detailList {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detailList li {
  border-bottom: none;
  font-size: 1.5rem !important;
}
.detailList span {
  font-size: 1.5rem !important;
}

.side-img {

}
